<html>
    <head>
        <!-- link stylesheet -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- load htmx script resources -->
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- begin form which will send get request to api to authenticate -->
        <form hx-get="/api/authenticate" id="auth">
            <p>You must enter the One-Time-Password from the drink machine to authenticate.</p>
            <!-- number only input field which will send input to api -->
            <p><input id="authcode" type ="number" name ="authcode"></p>
            <!-- submit button -->
            <p><input type="submit" value ="submit"></p>
        </form>
    </body>
</html>