<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Machine Authentication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>

<body>
    <div class="auth-container">
        <div class="auth-box">
            <h1>Authenticate</h1>
            <p class="description">Please enter the One-Time Password from the drink machine to authenticate.</p>
            <!-- Authentication Form -->
            <form hx-get="/api/authenticate" hx-trigger="submit" id="auth" class="auth-form">
                <div class="input-group">
                    <label for="authcode">One-Time Password:</label>
                    <input id="authcode" type="number" name="authcode" placeholder="Enter OTP" required />
                </div>
                <div class="submit-group">
                    <input type="submit" value="Submit" class="btn-submit">
                </div>
            </form>
        </div>
    </div>
</body>

</html>
