<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ADMD</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.keyboard.index.css') }}" />
  <script src="{{ url_for('static', filename='js/simple.keyboard.index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>
<body>
  <div class="otp-container">
    <button id="refreshOtpBtn">OTP</button>
    <span id="otpDisplay" class="otp-label">Loading...</span>
  </div>
  <div id="systemControls">
    <button id="keyboardToggle">Disable Keyboard</button>
    <button id="shutdownBtn">Shutdown</button>
  </div>
  
  <div class="mode-buttons">
    <button onclick="setMode('view')">View</button>
    <button onclick="setMode('edit')">Edit</button>
    <button onclick="setMode('create')">Create</button>
    <button onclick="setMode('delete')">Delete</button>
  </div>
  <div id="pouring-banner" 
     style="display:none; font-size:20px; font-weight:bold; color:#28a745; margin:10px 0;">
  </div>
  <form id="carousel-form">
    <div class="carousel-container" id="carouselContainer">
      <div class="carousel-track" id="carouselTrack"></div>
      <div class="nav-buttons">
        <button type="button" id="prevBtn">⟵ Prev</button>
        <button type="button" id="nextBtn">Next ⟶</button>
      </div>
    </div>
  </form>
  <div id="keyboard" class="simple-keyboard"></div>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
